td.mat-cell{
  padding: 8px;
  justify-content: center;
}

th.mat-header-cell{
  padding: 8px;
  justify-content: center;
  font-size: medium;
}

table{
  width: 100%;
}

button{
  background-color: var(--accent);
}

button:hover,
button:active{
  background-color: var(--primary);
  color: white;
}
