<div fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field>
    <mat-label>Név</mat-label>
    <input #nameInput  matInput type="text" [(ngModel)]="data.name" name="name" required/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Év</mat-label>
    <input #yearInput matInput type="number" [(ngModel)]="data.year" name="year" required/>
  </mat-form-field>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-button [disabled]="!nameInput.value && !yearInput.value" (click)="onNoClick()">Mégse</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
