<div style="margin-top: 2rem" fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field>
    <mat-label>Név</mat-label>
    <input matInput #nameInput type="text" [(ngModel)]="data.name" name="name" required/>
  </mat-form-field>

  <mat-form-field >
    <mat-label>Belépés dátuma</mat-label>
    <input matInput #dateInput type="date" [(ngModel)]="data.joinDate" name="type" required/>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Jármű</mat-label>
    <mat-select [(ngModel)]="data.vehicle" #vehicleInput>
      <ng-container *ngFor="let vehicle of vehicles">
        <mat-option [value]="vehicle.id">
          {{vehicle.name}}
        </mat-option>
      </ng-container>
      <mat-option [value]="-1">
        <span>Üres</span>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Pozíció</mat-label>
    <input matInput #positionInput type="text" [(ngModel)]="data.position" name="position" required/>
  </mat-form-field>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-button (click)="onNoClick()">Mégse</button>
  <button mat-button [mat-dialog-close]="data" >Ok</button>
</div>
