.login{
  height: calc(100vh - 60px);
}

form{
  width: 240px;
  padding: 20px;
  border-radius: 25px;
}

mat-form-field{
  margin: 10px;
  width: 230px;
}

a{
  background-color: var(--accent);
}

a:hover,
a:active,{
  background-color: var(--primary);
  color: white;
}
