<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application.properties" scope="local"/>
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %replace(- %X{type} -){'-  -', '- BACKEND -'} %msg%n" />
    <if condition='isDefined("catalina.home")'>
        <then>
            <property name="logging.file.name" value="${catalina.home}/logs/${spring.application.name}/"/>
        </then>
        <else>
            <property name="logging.file.name" value="logs/"/>
        </else>
    </if>
    <appender name="SAVE-TO-FILE-DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file.name}${spring.application.name}-debug.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                ${FILE_LOG_PATTERN}
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.file.name}archive/${spring.application.name}-debug-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>4GB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="SAVE-TO-FILE-WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file.name}${spring.application.name}-warn.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                ${FILE_LOG_PATTERN}
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.file.name}archive/${spring.application.name}-warn-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>4GB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="SAVE-TO-FILE-INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file.name}${spring.application.name}-info.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                ${FILE_LOG_PATTERN}
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.file.name}archive/${spring.application.name}-info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>4GB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="SAVE-TO-FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file.name}${spring.application.name}-error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                ${FILE_LOG_PATTERN}
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.file.name}archive/${spring.application.name}-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>4GB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %cyan(%replace(- %X{type} -){'-  -', '- BACKEND -'}) %msg%n
            </Pattern>
        </encoder>
    </appender>

    <if condition='"${spring.profiles.active}".contains("prod")'>
        <then>
            <root level="info">
                <appender-ref ref="SAVE-TO-FILE-DEBUG" />
                <appender-ref ref="SAVE-TO-FILE-WARN" />
                <appender-ref ref="SAVE-TO-FILE-INFO" />
                <appender-ref ref="SAVE-TO-FILE-ERROR" />
            </root>
        </then>
        <else>
            <root level="info">
                <appender-ref ref="STDOUT" />
                <appender-ref ref="SAVE-TO-FILE-DEBUG" />
                <appender-ref ref="SAVE-TO-FILE-WARN" />
                <appender-ref ref="SAVE-TO-FILE-INFO" />
                <appender-ref ref="SAVE-TO-FILE-ERROR" />
            </root>
        </else>
    </if>

</configuration>
