td.mat-cell{
  padding: 8px;
  font-size: medium;
}

th.mat-header-cell{
  padding: 8px;
  font-size: large;
  font-weight: bold;
}

table{
  margin: 30px;
}

.mat-icon-button{
  width: 60px;
}

.mat-icon{
  font-size: 34px;
  vertical-align: middle;
}

tr.detail-row {
  height: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}
